@font-face {
    font-family: "Gambetta";
    src: url("fonts/Gambetta-Variable.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Gambetta";
    src: url("fonts/Gambetta-VariableItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}