@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans[opsz,wght].ttf") format("truetype"),
  url("../fonts/DMSans[opsz,wght].ttf") format("truetype") tech("variations");
  font-weight: 100 1000;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype"),
  url("../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype") tech("variations");
  font-weight: 100 1000;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Sentient';
  src: url("../fonts/Sentient-Variable.woff2") format('woff2'),
        url('../fonts/Sentient-Variable.woff') format('woff');
  font-weight: 100 1000;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sentient';
  src: url("../fonts/Sentient-VariableItalic.woff2") format('woff2'),
        url('../fonts/Sentient-VariableItalic.woff') format('woff');
  font-weight: 100 1000;
  font-weight: normal;
  font-style: italic;
}