* {

    margin: 0;

}

ul {

    list-style: none;
    padding: 0;

    display: flex;

}

h3 {

    font-size: var(--font-size-h3);
    font-family: var(--font-family-title);
    
}

h4 {
    
    font-size: var(--font-size-h4);
    font-family: var(--font-family-title);
    font-weight: 600;

}

p {

    font-size: var(--font-size-core);
    font-family: var(--font-family-core);
    font-weight: 300;

}

label {

    box-sizing: border-box;

}

input {

    display: none; 

}

body {

    width: 100vw;
    height: 100dvh;

}

.fluidimg {

    width: 100%;
    height: auto;

}