* {

    margin: 0;

}

ul {

    list-style: none;
    padding: 0;

    display: flex;

}

h3 {

    font-size: var(--font-size-h3);
    font-family: "DM Sans", sans-serif;

}

h4 {

    font-size: var(--font-size-h4);

}

label {

    box-sizing: border-box;

}

input {

    display: none; 

}

body {

    width: 100vw;
    height: 100dvh;

}

.fluidimg {

    width: 100%;
    height: auto;

}