/* Selection */

.pannel4:checked ~ .content .cell1{
        
    height: 75%;

}

.pannel4:checked ~ .content .cell3{
        
    height: 50%;

}

.pannel4:checked ~ .content .macro1{
        
    height: 40%;

}

.pannel4:checked ~ .content .cell5{
        
    width: 50%;

}

.pannel4:checked ~ .content .label__pannel4{
        
    pointer-events: all;

}

@media all and (min-width: 1024px) {


    .pannel4:checked ~ .content .macro2{
        
        width: 100%;

    }

    .pannel4:checked ~ .content .cell1{
            
        height: 33%;

    }

    .pannel4:checked ~ .content .macro1{
            
        width: 50%;
        height: 100%;

    }

    .pannel4:checked ~ .content .cell4{
            
        width: 200%;

    }
    .pannel4:checked ~ .content .cell5{
        
        width: 100%;

    }

}

/* Content */

.styles__list {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-m);

    z-index: 3;
}

.styles__item label {
    cursor: pointer;
}

#style1:checked ~ .content {

    --cell-background: var(--style-background-newspaper);
    --cell-border: var(--style-border-newspaper);

    --color-font-100: var(--color-black);
    --color-font-75: #454343;
    --color-font-50: #807f7f;
    --color-font-inverted: var(--color-white);

}

#style1:checked ~ .content .cell::before {
    
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imgs/newspaper_texture.jpg);
    background-size: cover;

    opacity: 0.35;
    
}

#style1:checked ~ .content label[for="style1"] {

    text-decoration: underline;

}

#style2:checked ~ .content {
    
    --cell-border: var(--style-border-gradient);
    
    --color-font-100: var(--color-white);
    --color-font-75: rgb(172, 170, 170);
    --color-font-50: #807f7f;
    --color-font-inverted: var(--color-black);
    
}

#style2:checked ~ .content .cell::before {
    
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imgs/grain.jpg);
    background-size: auto;

    mix-blend-mode: soft-light;

    opacity: 0.25;
    
}

#style2:checked ~ .content .cell1 {
    --style-background-gradient: linear-gradient(-30deg, var(--color-green) 20%, var(--color-white));
    --cell-background: var(--style-background-gradient);
}
#style2:checked ~ .content .cell1 .cell__title {
    bottom: 0;
    right: 0;
    top: unset;
    left: unset;
}

#style2:checked ~ .content .cell2 {
    --style-background-gradient: linear-gradient(100deg, var(--color-green) 20%, var(--color-white));
    --cell-background: var(--style-background-gradient);
}
#style2:checked ~ .content .cell2 .cell__title {
    bottom: unset;
    right: unset;
    top: 0;
    left: 0;
}

#style2:checked ~ .content .cell3 {
    --style-background-gradient: linear-gradient(-110deg, var(--color-green) 20%, var(--color-white));
    --cell-background: var(--style-background-gradient);
}
#style2:checked ~ .content .cell3 .cell__title {
    bottom: unset;
    right: 0;
    top: 0;
    left: unset;
}

#style2:checked ~ .content .cell4 {
    --style-background-gradient: linear-gradient(160deg, var(--color-green) 20%, var(--color-white));
    --cell-background: var(--style-background-gradient);
}

#style2:checked ~ .content .cell5 {
    --style-background-gradient: linear-gradient(55deg, var(--color-green) 20%, var(--color-white));
    --cell-background: var(--style-background-gradient);
}
#style2:checked ~ .content .cell5 .cell__title {
    bottom: 0;
    right: unset;
    top: unset;
    left: 0;
}


#style2:checked ~ .content label[for="style2"] {

    text-decoration: underline;

}