/* Selection */

.pannel2:checked ~ .content .cell1{
        
    height: 10%;

}

.pannel2:checked ~ .content .macro2{
        
    height: 40%;

}

.pannel2:checked ~ .content .label__pannel2{
        
    pointer-events: all;

}

@media all and (min-width: 1024px) {

    .pannel2:checked ~ .content .cell1{
            
        height: 15%;

    }

    .pannel2:checked ~ .content .macro2{
            
        width: 20%;
        height: 100%;

    }

}

/* Content */

.cell2 {
    display: flex;;
    flex-direction: row;
}

.categories__list {
    
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    row-gap: var(--spacing-m);
    column-gap: 0;

    height: 100%;
    width: max-content;
    margin: 0 auto;
    align-content: center;

}

.pannel0:checked ~ .content .categories__list, .pannel2:checked ~ .content .categories__list {

    display: grid;
    grid-template-columns: max-content 1px 1fr;
    align-items: center;
    justify-content: flex-start;
    row-gap: var(--spacing-m);
    column-gap: 0;

}

.categories__item {
    display: block;
}

.pannel0:checked ~ .content .categories__item, .pannel2:checked ~ .content .categories__item {
    display: contents;
}

.categorie__name {
    grid-column: 1;
    justify-self: end;
    transition: all var(--animation-timing)  var(--animation-ease);

    font-size: var(--font-size-h4);
}

.separator {
    grid-column: 2;
    width: 1px;
    height: 0%;
    background-color: var(--color-font-100);
    justify-self: center;
    
    transition: all var(--animation-timing)  var(--animation-ease);
}

.projectsname__list {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    z-index: 3;
}

.projectsname__list p {
    font-size: 0;
    transition: all var(--animation-timing)  var(--animation-ease);
}

.projectsname__item label {
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.pannel2:checked ~ .content .projectsname__list p{
    font-size: var(--font-size-core);
}

.pannel2:checked ~ .content .separator {
    height: 100%;
}

.pannel2:checked ~ .content .categories__list {
    row-gap: var(--spacing-xl);
    column-gap: var(--spacing-m);
}

.pannel2:checked ~ .content .categories__item {
    gap: 0;
}


@media all and (min-width: 1024px) {

    .pannel2:checked ~ .content .cell2:has(.input__project-gallery:checked) .cell__content {
        width: 0%;
    }

}

/* Projects */

.projects__container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    transition: all var(--animation-timing)  var(--animation-ease);

    color: var(--color-black);
    
    position: absolute;
}

.projects__list {
    
    position: relative;
    width: 100%;
    height: 100%;
    
}

.projects__item {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    z-index: 1;

    background-color: var(--color-white);

    transition: all var(--animation-timing)  var(--animation-ease);

}

.pannel2:checked ~ .content .input__project:checked + .projects__item {
    left: 0;
    z-index: 4;
}


@media all and (min-width: 1024px) {

    .projects__container {
        width: 0;
        position: relative;
        z-index: 1;
    }

    .pannel2:checked ~ .content .projects__container {
        width: 150%;
    }

    .pannel2:checked ~ .content .input__project-close:checked ~ .projects__container {
        width: 0;
    }

}

.input__project-close:checked ~ .projects__container .projects__item {
    left: 100%;
    z-index: 1;
}

/* Project */

.label__project__close {
    padding: var(--spacing-xl) var(--spacing-m) var(--spacing-m) var(--spacing-xl);
    box-sizing: border-box;

    font-size: var(--font-size-h4);

    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;
}

.project__content {

    padding: var(--spacing-l);
    box-sizing: border-box;
    max-height: 100%;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);

    overflow: hidden;

    position: relative;

    transition: max-height var(--animation-timing) var(--animation-ease) , padding var(--animation-timing) var(--animation-ease);
}


.projects__item:has(.input__project-gallery:checked) .project__content {
    max-height: 0px;
    padding-block: 0;
}

.project__infos {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    text-align: center;
}

.project__name {
    font-size: var(--font-size-h4);
}

.project__paragraph {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.paragraph__subtitle {
    font-size: var(--font-size-core);
    font-weight: bold;
}

.paragraph__text {
    font-size: var(--font-size-core);
}

.project__skills-list {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-s);
    justify-content: flex-start;
}

.projects__skills-item {
    font-size: var(--font-size-core);

    padding: var(--spacing-xxs) var(--spacing-xs);
    border: solid 1px var(--color-black);
}

.label__gallery {
    position: absolute;
    top: 0;
    right: 0;

    width: 100% ;
    height: 100%;

    cursor: pointer;
    z-index: 4;
}

.project__gallery {
    background-color: red;

    width: 100%;
    height: auto;
    flex: 1 1 auto;
    min-height: 0;

    position: relative;

    overflow: hidden;

    transition: all var(--animation-timing) var(--animation-ease);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.project__gallery::-webkit-scrollbar {
    display: none;
}

.project__pdf {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    background: var(--color-white);
}

.project__gallery::before {
    content: "Click";
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    text-align: center;
    padding: var(--spacing-m);
    font-size: var(--font-size-core);
    font-family: var(--font-family-core);
    color: var(--color-font-inverted);
    background: rgba(30, 21, 21, 0.35);
    pointer-events: none;
    transition: opacity var(--animation-timing) var(--animation-ease);
}

.project__gallery:hover::before {
    opacity: 0.5;
}

.projects__item:has(.input__project-gallery:checked) .project__gallery {
    overflow: hidden;
    filter: none;
}

.projects__item:has(.input__project-gallery:checked) .project__gallery::before {
    opacity: 0;
}

.projects__item:has(.input__project-gallery:checked) .label__gallery {
    top: var(--spacing-s);
    right: var(--spacing-s);
    width: calc(24 / 16 * 1rem);
    height: calc(24 / 16 * 1rem);
    border: 1px solid var(--color-black);
    background: rgba(246, 246, 236, 0.9);
}

.projects__item:has(.input__project-gallery:checked) .label__gallery::after {
    content: "x";
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: var(--font-size-core);
    font-family: var(--font-family-core);
    color: var(--color-black);
}
