<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elann Fraiture - Portfolio</title>
  <script type="module" src="/assets/js/main.bundle.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="icon" href="/assets/medias/img/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />  
</head>


<body>

  {% block content %}{% endblock %}

</body>
</html>